@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.head{
    background-color: transparent;
    font-family: Poppins;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}
.hb {
    float: right;
    color: hsl(0, 0%, 30%);
    background-color: hsl(0, 0%, 95%);
    border: none;
    margin-right: 2px;
    cursor: pointer;
}
.hb{
    padding: 10px;
    font-family: Poppins;
    border-radius: 10px;
}
.hb:hover{
    background-color: hsl(0, 0%, 90%);
}
.head-title {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}
/* .icon{
    
} */
.dropmenu{ 
    transition: 0.2s ease-in;
    display: flex;
    cursor: pointer;
    
}
.dropmenu:hover{
    transform: scale(1.1);
}
select{
    cursor: pointer;
    display: flex;
    padding: 3px;
    position:absolute;
    overflow: hidden;
    height: 120px;
    background-color: hsla(0, 0%, 40%, 0.745);
}
option{
    color: hsl(0, 0%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
option:hover{
    background-color: hsl(0, 0%, 60%);
}